/* Style for the page */
body {
    background: linear-gradient(75deg, #fd9737 0%, #ff2828 90%) no-repeat center fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Style for the header */
h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
}

/* Style for the counter */
h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
}

/* Style for the buttons */
button {
    background: #ffffff;
    border: 0;
    border-radius: 4px;
    color: rgb(2, 1, 1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
    padding: 8px 16px;
    text-transform: uppercase;
}

/* Style for the increment button */
#increment-btn {
    background: #79ff57;
    border: 1px solid #2b2b2b;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

/* Style for the save button */
#save-btn {
    background: #5784ff;
    border: 1px solid #131313;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}